/* sidebar */
.fixed-right {
  width: 7%;
  position: fixed;
  top: 20%;
  right: 0;
  z-index: 9999999;
  display: block;
}
#sidebar-wrapper .list-group{
  --bs-list-group-border-width: none !important;
  box-shadow: 3px 3px 10px #5c3d0352 ;
}

#sidebar-wrapper a:nth-child(n+2):nth-child(-n+7):hover{
  background-color: $secondary !important;
}
#sidebar-wrapper a:nth-child(8):hover{
  font-weight: bold;
  color: $primary;
}

/* store */
#store a img {
  transition: all 0.3s ease;
}

#store a:hover img {
/*   filter: drop-shadow(5px 5pc 10px #5c3d03);*/  
 box-shadow: 5px 5px 16px #5c3d0352 ;
}

/* chef */
#chef .card:hover {
  cursor: pointer;
}

#chef .card:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.2s ease-in-out;
}

#chef .card:hover:after {
  height: 100%;
}

.sns_mark{
  opacity: 0;
  transition: all 0.3s ease;
}

/* btn_more */
.btn_more {
  display: block;
  width: 30px;
  height: 30px;
  overflow: hidden;
  text-indent: -9999px;
  position: absolute;
  top: 20px;
  right: 0;
}

.btn_more:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/btn_more_bul_white.png) no-repeat center 50%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  transition: all 0.4s ease;
  opacity: 0;
}

#chef .card:hover .btn_more:after {
  transform: rotate(180deg);
  opacity: 1;
}
#chef .card:hover .sns_mark {
  opacity: 1;
  z-index: 10;
}