@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Light.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Black.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Black.ttf");
  font-weight: 500;
}

.font {
  font-family: "Pretendard";
}
