@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Black.ttf");
}

$font-family-sans-serif: "Pretendard";

.carousel-caption {
  width: 700px !important;
  right: 60% !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  padding-bottom: 0 !important;
  bottom: auto !important;
}
/* @media (max-width: 767px) {
  .arousel-caption {
    padding-bottom: 100px;
  }
} */



$primary: #ffa906;
$secondary: #fff348;
$success: #b6dc49;

$light: #fffdf3;
$dark: #393939;

.carousel-item,
.carousel-caption {
  text-align: left !important;
}

footer{
  background-color: #423b2f;
  color: $light;
}

@media (max-width: 992px) {
  footer .ci1{
    font-size: 14px !important;
  }
}
@media (max-width: 768px) {
  footer .ci1{
    font-size: 12px !important;
  }
  footer .img_g{
    display: none;
  }
}

.position-r{
  position: relative;
}
.position-r img{
  position: absolute;
  right: 0;
  bottom: 0;
}

@import "./reset";
@import "./custom1";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "./custom";
@import "./store";
/* $info: $cyan !default;
  $warning: $yellow !default;
  $danger: $red !default;
   */
